{extend name="layout/layout" /}

{block name='css'}
<link rel="stylesheet" href="__PUBLIC__/css/my.css">
{/block}

{block name="main"}
<div class="row wrapper border-bottom white-bg page-heading">
    <section>
        <div class="row m-t-sm">
            <div class="col-lg-12">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                <li style="padding-right: 30px"><h5 style="font-size: 18px;">{$title}</h5></li>
                                {foreach name="group_list" item='group' key='kk'}
                                <li {if condition="$kk eq 'hotc_set' "} class='active' {/if} ><a href="{:url('system/index',['c_type'=>$kk])}" >{$group}</a></li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="explanation" class="explanation" style="">
            <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o" style="color:gold"></i>
                <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
                <span title="收起提示" id="explanationZoom" style="display: block;"></span>
            </div>
            <ul>
                <li>请勿随意修改,修改前请确认数据是否正确</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="ibox-content">
            <form class="form-horizontal" id="signupForm" action="{:url('admin/system/'.$c_type)}" method="post">
                {:token()}
                <input type="hidden" name="c_type" value="{$c_type}">
                <div class="form-group"><label class="col-lg-2 control-label">新用户赠送酿力 +</label>
                    <div class="col-lg-3">
                        <input type="text" name="power_register" datatype="n" class="form-control" value="{$config['power_register']}">
                    </div>
                    <div class="Validform_checktip"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-lg-2 control-label">每日登录酿力 +</label>
                    <div class="col-lg-3">
                        <input type="text" name="power_login" datatype="n" class="form-control" value="{$config['power_login']}">
                    </div>
                    <div class="Validform_checktip"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-lg-2 control-label">新用户赠送酒水币 +</label>
                    <div class="col-lg-2">
                        <select class="form-control m-b" name="power_coin" readonly="true" errormsg="请选择矿产代币！">
                            {foreach $token as $k=>$v}
                            <option value="{$k}">酒水币</option>
                            {/foreach}
                        </select>
                    </div>
                    <label class="col-lg-1 control-label">数量+</label>
                    <div class="col-lg-2">
                        <input type="text" name="power_coin_num" errormsg="赠送数量最多保留5位小数" datatype="/^\d+(\.\d{1,5})?$/" class="form-control" value="{$config['power_coin_num']}">
                    </div>
                    <div class="Validform_checktip"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-lg-2 control-label">酿力值简介 </label>
                    <div class="col-lg-3">
                        <textarea name="power_desc" id="" datatype="*" cols="50" rows="5" >{$config['power_desc']}</textarea>
                    </div>
                    <div class="Validform_checktip"></div>
                </div>
  
                <div class="hr-line-dashed"></div>

                  <div class="form-group"><label class="col-lg-2 control-label">Drink人民币比例</label>
                    <div class="col-lg-3">
                        <input type="text" name="drink_price" class="form-control" value="{$config['drink_price']}">
                    </div>
                    <div class="Validform_checktip"></div>
                </div>
         

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">修改挖矿基本配置</button>
                    </div>
                </div>
            </form>
        </div>

    </section>

</div>
{/block}

{block name="js"}
<script src="__PUBLIC__/js/Validform_v5.3.2_min.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script>

    $(document).ready(function(){
        $('#signupForm').Validform({
            tiptype:2,

            beforeSubmit:function(){
                return true;
            }
        });
    })
</script>
{/block}